.flex-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin: 13px;
}
.flex-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin: 13px;
}
.header-style {
  text-align: center;
}
.comment {
  display: flex;
  flex: row;
  justify-content: space-around;
}
.round-img {
  margin: 5px;
  width: 70px;
  height: 70px;
}
.tag {
  margin: 0;
  text-align: center;
}
.comment-main {
  padding: 2px;
}
.typ {
  padding-top: 50%;
}
